In [18]:
import requests
from urllib import request
import pandas
from bs4 import BeautifulSoup

# 1. 웹페이지 요청
url = "https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?ajax=yw1&page="
headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}

player_list = []

for i in range(1,5):
    html = requests.get(f"{url}{i}", headers = headers)
    print(html.status_code)
    # 2. 파싱
    soup = BeautifulSoup(html.text, "html.parser")

    # 3. 엘리먼트 추출
    player_info = soup.find_all("tr", class_=["odd","even"])
    
    # 4. 리스트에 선수 정보 저장
    for player_dict in player_info:
        tbs = player_dict.find_all("td")
        
        number   = tbs[0].text
        name     = tbs[3].text
        position = tbs[4].text
        age      = tbs[5].text
        nation   = tbs[6].find("img").get("title")
        club     = tbs[7].img["title"]
        value    = tbs[8].text.strip()
        
        player_list.append([number,name,position,age,nation,club,value])

# 5. DataFrame 생성
df = pandas.DataFrame(player_list, columns= ["number","name","position","age","nation","club","value"])

df['value']=df['value'].str.replace('€','').str.replace('.00m','')
#6. csv에 저장
df.to_csv("market100.csv", index=False)
print("저장했어 ?")

200
200
200
200
저장했어 ?

In [17]:
df['value']=df['value'].str.replace('€','').str.replace('.00m','')

,number,name,position,age,nation,club,value
0,1,Kylian Mbappé,Centre-Forward,24,France,Paris Saint-Germain,180
1,2,Erling Haaland,Centre-Forward,22,Norway,Manchester City,170
2,3,Jude Bellingham,Central Midfield,19,England,Borussia Dortmund,120
3,4,Vinicius Junior,Left Winger,22,Brazil,Real Madrid,120
4,5,Jamal Musiala,Attacking Midfield,20,Germany,Bayern Munich,110
...,...,...,...,...,...,...,...
95,96,Gianluigi Donnarumma,Goalkeeper,24,Italy,Paris Saint-Germain,50
96,97,Lucas Hernández,Centre-Back,27,France,Bayern Munich,50
97,98,Ivan Toney,Centre-Forward,27,England,Brentford FC,50
98,99,Marco Verratti,Central Midfield,30,Italy,Paris Saint-Germain,50
99,100,David Alaba,Centre-Back,30,Austria,Real Madrid,50

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    100 non-null    object
 1   name      100 non-null    object
 2   position  100 non-null    object
 3   age       100 non-null    object
 4   nation    100 non-null    object
 5   club      100 non-null    object
 6   value     100 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB

In [ ]:
df.astype({
    
})