In [21]:
import requests
import json
import pandas as pd

In [36]:
headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}
url = "https://finance.naver.com/world/worldDayListJson.naver?symbol=NAS@IXIC&fdtc=0&page=1"
httpResponse = requests.get(url, headers=headers)
httpResponse.status_code

200

In [37]:
httpResponse.text
#응답이 되지 않은 상태에용 requests는 200이 되어도 error 가 되지 않아용

'[{"symb":"NAS@IXIC","xymd":"20230426","open":11913.23,"high":11967.99,"low":11833.07,"clos":11854.35,"diff":55.19,"rate":0.47,"gvol":541188237},{"symb":"NAS@IXIC","xymd":"20230425","open":11968.81,"high":11990.46,"low":11798.77,"clos":11799.16,"diff":-238.04,"rate":-1.98,"gvol":500793836},{"symb":"NAS@IXIC","xymd":"20230424","open":12053.47,"high":12103.58,"low":11960.31,"clos":12037.2,"diff":-35.26,"rate":-0.29,"gvol":496062344},{"symb":"NAS@IXIC","xymd":"20230421","open":12046.03,"high":12097.15,"low":11986.82,"clos":12072.46,"diff":12.9,"rate":0.11,"gvol":489284300},{"symb":"NAS@IXIC","xymd":"20230420","open":12039.08,"high":12155.96,"low":12011.95,"clos":12059.56,"diff":-97.67,"rate":-0.8,"gvol":462760322},{"symb":"NAS@IXIC","xymd":"20230419","open":12063.68,"high":12191.1,"low":12060.17,"clos":12157.23,"diff":3.82,"rate":0.03,"gvol":505169071},{"symb":"NAS@IXIC","xymd":"20230418","open":12234.56,"high":12245.43,"low":12110.23,"clos":12153.41,"diff":-4.31,"rate":-0.04,"gvol":493617967},{"symb":"NAS@IXIC","xymd":"20230417","open":12108.23,"high":12159.02,"low":12064.1,"clos":12157.72,"diff":34.25,"rate":0.28,"gvol":485927270},{"symb":"NAS@IXIC","xymd":"20230414","open":12117.91,"high":12205.72,"low":12026.55,"clos":12123.47,"diff":-42.8,"rate":-0.35,"gvol":467526838},{"symb":"NAS@IXIC","xymd":"20230413","open":11997.42,"high":12178.8,"low":11995.94,"clos":12166.27,"diff":236.93,"rate":1.99,"gvol":493255164}]'

In [35]:
# 3.1 json - > str loads는 str , contents는 아니다
dict_data = json.loads(httpResponse.text)
dict_data

[{'symb': 'NAS@IXIC',
  'xymd': '20230426',
  'open': 11913.23,
  'high': 11967.99,
  'low': 11833.07,
  'clos': 11854.35,
  'diff': 55.19,
  'rate': 0.47,
  'gvol': 541188237},
 {'symb': 'NAS@IXIC',
  'xymd': '20230425',
  'open': 11968.81,
  'high': 11990.46,
  'low': 11798.77,
  'clos': 11799.16,
  'diff': -238.04,
  'rate': -1.98,
  'gvol': 500793836},
 {'symb': 'NAS@IXIC',
  'xymd': '20230424',
  'open': 12053.47,
  'high': 12103.58,
  'low': 11960.31,
  'clos': 12037.2,
  'diff': -35.26,
  'rate': -0.29,
  'gvol': 496062344},
 {'symb': 'NAS@IXIC',
  'xymd': '20230421',
  'open': 12046.03,
  'high': 12097.15,
  'low': 11986.82,
  'clos': 12072.46,
  'diff': 12.9,
  'rate': 0.11,
  'gvol': 489284300},
 {'symb': 'NAS@IXIC',
  'xymd': '20230420',
  'open': 12039.08,
  'high': 12155.96,
  'low': 12011.95,
  'clos': 12059.56,
  'diff': -97.67,
  'rate': -0.8,
  'gvol': 462760322},
 {'symb': 'NAS@IXIC',
  'xymd': '20230419',
  'open': 12063.68,
  'high': 12191.1,
  'low': 12060.17,
  'clos': 12157.23,
  'diff': 3.82,
  'rate': 0.03,
  'gvol': 505169071},
 {'symb': 'NAS@IXIC',
  'xymd': '20230418',
  'open': 12234.56,
  'high': 12245.43,
  'low': 12110.23,
  'clos': 12153.41,
  'diff': -4.31,
  'rate': -0.04,
  'gvol': 493617967},
 {'symb': 'NAS@IXIC',
  'xymd': '20230417',
  'open': 12108.23,
  'high': 12159.02,
  'low': 12064.1,
  'clos': 12157.72,
  'diff': 34.25,
  'rate': 0.28,
  'gvol': 485927270},
 {'symb': 'NAS@IXIC',
  'xymd': '20230414',
  'open': 12117.91,
  'high': 12205.72,
  'low': 12026.55,
  'clos': 12123.47,
  'diff': -42.8,
  'rate': -0.35,
  'gvol': 467526838},
 {'symb': 'NAS@IXIC',
  'xymd': '20230413',
  'open': 11997.42,
  'high': 12178.8,
  'low': 11995.94,
  'clos': 12166.27,
  'diff': 236.93,
  'rate': 1.99,
  'gvol': 493255164}]

In [30]:
type(dict_data)

list

In [32]:
#3.2 json -> dict
dict_data_two = httpResponse.json()
type(dict_data_two)

list

In [34]:
table = pd.json_normalize(dict_data_two)
table

,symb,xymd,open,high,low,clos,diff,rate,gvol
0,NAS@IXIC,20230426,11913.23,11967.99,11833.07,11854.35,55.19,0.47,541188237
1,NAS@IXIC,20230425,11968.81,11990.46,11798.77,11799.16,-238.04,-1.98,500793836
2,NAS@IXIC,20230424,12053.47,12103.58,11960.31,12037.20,-35.26,-0.29,496062344
3,NAS@IXIC,20230421,12046.03,12097.15,11986.82,12072.46,12.90,0.11,489284300
4,NAS@IXIC,20230420,12039.08,12155.96,12011.95,12059.56,-97.67,-0.80,462760322
5,NAS@IXIC,20230419,12063.68,12191.10,12060.17,12157.23,3.82,0.03,505169071
6,NAS@IXIC,20230418,12234.56,12245.43,12110.23,12153.41,-4.31,-0.04,493617967
7,NAS@IXIC,20230417,12108.23,12159.02,12064.10,12157.72,34.25,0.28,485927270
8,NAS@IXIC,20230414,12117.91,12205.72,12026.55,12123.47,-42.80,-0.35,467526838
9,NAS@IXIC,20230413,11997.42,12178.80,11995.94,12166.27,236.93,1.99,493255164