In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
#파일 읽어 오기

In [3]:
ocean_2018 = pd.read_csv('완-해양환경측정망 연안별 평균(2018).csv',encoding='cp949')
ocean_2019 = pd.read_csv('완-해양환경측정망 연안별 평균(2019).csv',encoding='cp949')
ocean_2020 = pd.read_csv('해양환경측정(2020).csv',encoding='cp949')

In [4]:
ocean_2018[:3]

,해역,연안명칭,no.,수온(℃)표층,수온(℃)저층,염분표층,염분저층,pH표층,pH저층,DO(㎎/L)표층,...,T-P( mg/L )저층,SiO2-Si( mg/L )표층,SiO2-Si( mg/L )저층,SS( mg/L )표층,SS( mg/L )저층,Chl-a(㎍/L)표층,Chl-a(㎍/L)저층,유분(㎎/L)표층,투명도(m)표층,대장균군(MPN/100ml)표층
0,동해,거진연안,Avg.,13.660312,9.033175,33.561675,33.803213,8.156250,8.153750,9.311068,...,22.405250,169.365000,211.841000,5.968750,5.991667,0.915750,0.852175,0,9.15000,0
1,동해,속초연안,Avg.,14.881844,9.745025,33.527875,33.958981,8.198125,8.180625,8.999973,...,19.518375,109.779125,203.474125,6.607292,4.947917,1.202138,0.649962,0,9.16875,0
2,동해,양양연안,Avg.,14.976744,9.194581,33.646212,34.006912,8.181250,8.135000,9.007500,...,22.676500,120.326250,242.707500,4.405208,4.315625,0.939512,0.472825,0,9.92500,0

In [5]:
ocean_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   해역                 105 non-null    object
 1   연안명칭               105 non-null    object
 2   no.                105 non-null    object
 3   수온(℃)표층            105 non-null    float64
 4   수온(℃)저층            105 non-null    float64
 5   염분표층               105 non-null    float64
 6   염분저층               105 non-null    float64
 7   pH표층               105 non-null    float64
 8   pH저층               105 non-null    float64
 9   DO(㎎/L)표층          105 non-null    float64
 10  DO(㎎/L)저층          105 non-null    float64
 11  COD(㎎/L)표층         105 non-null    float64
 12  COD(㎎/L)저층         105 non-null    float64
 13  NH4-N(㎎/L)표층       105 non-null    float64
 14  NH4-N(㎎/L)저층       105 non-null    float64
 15  NO2-N(㎎/L)표층       105 non-null    float64
 16  NO2-N(㎎/L)저층       105 non-null    float64
 17  NO3-N(㎎/L)표층       105 non-null    float64
 18  NO3-N(㎎/L)저층       105 non-null    float64
 19  DIN( mg/L )표층      105 non-null    float64
 20  DIN( mg/L )저층      105 non-null    float64
 21  T-N( mg/L )표층      105 non-null    float64
 22  T-N( mg/L )저층      105 non-null    float64
 23  DIP( mg/L )표층      105 non-null    float64
 24  DIP( mg/L )저층      105 non-null    float64
 25  T-P( mg/L )표층      105 non-null    float64
 26  T-P( mg/L )저층      105 non-null    float64
 27  SiO2-Si( mg/L )표층  105 non-null    float64
 28  SiO2-Si( mg/L )저층  105 non-null    float64
 29  SS( mg/L )표층       105 non-null    float64
 30  SS( mg/L )저층       105 non-null    float64
 31  Chl-a(㎍/L)표층       105 non-null    float64
 32  Chl-a(㎍/L)저층       105 non-null    float64
 33  유분(㎎/L)표층          105 non-null    int64
 34  투명도(m)표층           105 non-null    float64
 35  대장균군(MPN/100ml)표층  105 non-null    int64
dtypes: float64(31), int64(2), object(3)
memory usage: 29.7+ KB

In [6]:
ocean_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   해역                 105 non-null    object
 1   연안명칭               105 non-null    object
 2   no.                105 non-null    object
 3   수온(℃)표층            105 non-null    float64
 4   수온(℃)저층            105 non-null    float64
 5   염분표층               105 non-null    float64
 6   염분저층               105 non-null    float64
 7   pH표층               105 non-null    float64
 8   pH저층               105 non-null    float64
 9   DO(㎎/L)표층          105 non-null    float64
 10  DO(㎎/L)저층          105 non-null    float64
 11  COD(㎎/L)표층         105 non-null    float64
 12  COD(㎎/L)저층         105 non-null    float64
 13  NH4-N(㎍/L)표층       105 non-null    float64
 14  NH4-N(㎍/L)저층       105 non-null    float64
 15  NO2-N(㎍/L)표층       105 non-null    float64
 16  NO2-N(㎎/L)저층       105 non-null    float64
 17  NO3-N(㎎/L)표층       105 non-null    float64
 18  NO3-N(㎎/L)저층       105 non-null    float64
 19  DIN( ㎍/L )표층       105 non-null    float64
 20  DIN( ㎍/L )저층       105 non-null    float64
 21  T-N( ㎍/L )표층       105 non-null    float64
 22  T-N( ㎍/L )저층       105 non-null    float64
 23  DIP( ㎍/L )표층       105 non-null    float64
 24  DIP( ㎍/L )저층       105 non-null    float64
 25  T-P( ㎍/L )표층       105 non-null    float64
 26  T-P( ㎍/L )저층       105 non-null    float64
 27  SiO2-Si( ㎍/L )표층   105 non-null    float64
 28  SiO2-Si( ㎍/L )저층   105 non-null    float64
 29  SS( ㎍/L )표층        105 non-null    float64
 30  SS( mg/L )저층       105 non-null    float64
 31  Chl-a(㎍/L)표층       105 non-null    float64
 32  Chl-a(㎍/L)저층       105 non-null    float64
 33  유분(㎎/L)표층          105 non-null    int64
 34  투명도(m)표층           105 non-null    float64
 35  대장균군(MPN/100ml)표층  105 non-null    int64
dtypes: float64(31), int64(2), object(3)
memory usage: 29.7+ KB

In [7]:
ocean_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   조사년도                         99 non-null     int64
 1   해역                           99 non-null     object
 2   연안명칭                         99 non-null     object
 3   평균                           99 non-null     object
 4   수온(C)표층                      99 non-null     float64
 5   수온(C)저층                      99 non-null     float64
 6   염분 표층                        99 non-null     float64
 7   염분 저층                        99 non-null     float64
 8   수소이온농도(ph) 표층                99 non-null     float64
 9   수소이온농도(ph) 저층                99 non-null     float64
 10  용존산소량(DO)(L당mg)표층            99 non-null     float64
 11  용존산소량(DO)(L당mg)저층            99 non-null     float64
 12  화학적산소요구량(COD)(L당mg)표층        99 non-null     float64
 13  화학적산소요구량(COD)(L당mg)저층        99 non-null     float64
 14  암모니아성질소(NH4-N)( L당 마이크로g)표층  99 non-null     float64
 15  암모니아성질소(NH4-N)( L당 마이크로g)저층  99 non-null     float64
 16  아질산염질소(NO2-N)( L당 마이크로g)표층   99 non-null     float64
 17  아질산염질소(NO2-N)( L당 마이크로g)저층   99 non-null     float64
 18  질산성질소(NO3-N)(L당 마이크로g)표층     99 non-null     float64
 19  질산성질소(NO3-N)(L당 마이크로g)저층     99 non-null     float64
 20  용존무기질소(DIN)( L당 마이크로g)표층     99 non-null     float64
 21  용존무기질소(DIN)( L당 마이크로g)저층     99 non-null     float64
 22  총질소(T-N)( L당 마이크로g)표층        99 non-null     float64
 23  총질소(T-N)( L당 마이크로g)저층        99 non-null     float64
 24  용존무기인(DIP)( L당 마이크로g)표층      99 non-null     float64
 25  용존무기인(DIP)( L당 마이크로g)저층      99 non-null     float64
 26  총인(T-P)( L당 마이크로g)표층         99 non-null     float64
 27  총인(T-P)( L당 마이크로g)저층         99 non-null     float64
 28  SiO2-Si( L당 마이크로g)표층         99 non-null     float64
 29  SiO2-Si( L당 마이크로g)저층         99 non-null     float64
 30  부유물질량(SS)(L당mg)표층            99 non-null     float64
 31  부유물질량(SS)(L당mg)저층            99 non-null     float64
 32  클로로필-a(L당 마이크로g)표층           99 non-null     float64
 33  클로로필-a(L당 마이크로g)저층           99 non-null     float64
 34  투명도(m)표층                     99 non-null     float64
dtypes: float64(31), int64(1), object(3)
memory usage: 27.2+ KB

In [8]:
ocean_2018.columns == ocean_2019.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True,  True,  True,  True])

In [9]:
ocean_2018.rename(columns={'수온(℃)표층':'수온','pH표층':'수소이온농도','DO(㎎/L)표층':'용존산소'},inplace=True)

In [10]:
ocean_2018=ocean_2018[['해역','연안명칭','수온','수소이온농도','용존산소']]

In [11]:
ocean_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   해역      105 non-null    object
 1   연안명칭    105 non-null    object
 2   수온      105 non-null    float64
 3   수소이온농도  105 non-null    float64
 4   용존산소    105 non-null    float64
dtypes: float64(3), object(2)
memory usage: 4.2+ KB

In [12]:
ocean_2019.rename(columns={'수온(℃)표층':'수온','pH표층':'수소이온농도','DO(㎎/L)표층':'용존산소'},inplace=True)

In [13]:
ocean_2019=ocean_2019[['해역','연안명칭','수온','수소이온농도','용존산소']]

In [14]:
ocean_2019[-10:]

       해역   연안명칭         수온    수소이온농도      용존산소
95     동해   동해중부   0.000000  0.000000  0.000000
96     동해   동해남부   0.000000  0.000000  0.000000
97     남해   남해동부   0.000000  0.000000  0.000000
98     남해   남해서부   0.000000  0.000000  0.000000
99     서해   서해남부   0.000000  0.000000  0.000000
100    서해   서해중부   0.000000  0.000000  0.000000
101    서해    섬진강  16.925526  8.144250  8.846868
102    서해  낙동강하구  17.737398  8.071250  8.675529
103    연안    진해만  17.617909  8.229318  8.766862
104  특별관리    진해만  17.071275  8.271250  8.179707

In [20]:
ocean_2020.rename(columns={'수온(C)표층':'수온','수소이온농도(ph) 표층':'수소이온농도','용존산소량(DO)(L당mg)표층':'용존산소'},inplace=True)

In [21]:
ocean_2020[:3]

,조사년도,해역,연안명칭,평균,수온,수온(C)저층,염분 표층,염분 저층,수소이온농도,수소이온농도(ph) 저층,...,용존무기인(DIP)( L당 마이크로g)저층,총인(T-P)( L당 마이크로g)표층,총인(T-P)( L당 마이크로g)저층,SiO2-Si( L당 마이크로g)표층,SiO2-Si( L당 마이크로g)저층,부유물질량(SS)(L당mg)표층,부유물질량(SS)(L당mg)저층,클로로필-a(L당 마이크로g)표층,클로로필-a(L당 마이크로g)저층,투명도(m)표층
0,2020,동해,거진연안,Avg.,16.06,13.37,32.99,33.79,8.18,8.14,...,9.39,21.76,20.75,212.61,229.29,5.07,4.53,2.09,1.58,6.06
1,2020,동해,속초연안,Avg.,15.78,14.03,33.49,33.79,8.19,8.21,...,7.17,16.23,18.85,182.56,192.34,4.60,3.27,2.28,1.99,9.18
2,2020,동해,양양연안,Avg.,15.75,13.00,33.55,33.88,8.19,8.16,...,9.49,16.03,20.36,168.11,221.89,6.08,3.79,1.99,1.72,8.82

In [22]:
ocean_2020.columns

Index(['조사년도', '해역', '연안명칭', '평균', '수온', '수온(C)저층', '염분 표층', '염분 저층', '수소이온농도',
       '수소이온농도(ph) 저층', '용존산소', '용존산소량(DO)(L당mg)저층', '화학적산소요구량(COD)(L당mg)표층',
       '화학적산소요구량(COD)(L당mg)저층', '암모니아성질소(NH4-N)( L당 마이크로g)표층',
       '암모니아성질소(NH4-N)( L당 마이크로g)저층', '아질산염질소(NO2-N)( L당 마이크로g)표층',
       '아질산염질소(NO2-N)( L당 마이크로g)저층', '질산성질소(NO3-N)(L당 마이크로g)표층',
       '질산성질소(NO3-N)(L당 마이크로g)저층', '용존무기질소(DIN)( L당 마이크로g)표층',
       '용존무기질소(DIN)( L당 마이크로g)저층', '총질소(T-N)( L당 마이크로g)표층',
       '총질소(T-N)( L당 마이크로g)저층', '용존무기인(DIP)( L당 마이크로g)표층',
       '용존무기인(DIP)( L당 마이크로g)저층', '총인(T-P)( L당 마이크로g)표층',
       '총인(T-P)( L당 마이크로g)저층', 'SiO2-Si( L당 마이크로g)표층', 'SiO2-Si( L당 마이크로g)저층',
       '부유물질량(SS)(L당mg)표층', '부유물질량(SS)(L당mg)저층', '클로로필-a(L당 마이크로g)표층',
       '클로로필-a(L당 마이크로g)저층', '투명도(m)표층'],
      dtype='object')

In [24]:
ocean_2020=ocean_2020[['해역','연안명칭','수온','수소이온농도','용존산소']]

In [26]:
ocean= pd.concat([ocean_2018, ocean_2019, ocean_2020])

In [31]:
ocean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 309 entries, 0 to 98
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   해역      309 non-null    object
 1   연안명칭    309 non-null    object
 2   수온      309 non-null    float64
 3   수소이온농도  309 non-null    float64
 4   용존산소    309 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.5+ KB

In [30]:
ocean.to_csv('해안수질.csv',encoding='UTF-8',index=False)

In [36]:
o_o=pd.read_csv('해안수질.csv')
o_o.isnull().sum()

해역        0
연안명칭      0
수온        0
수소이온농도    0
용존산소      0
dtype: int64