# 판다스

In [2]:
import pandas as pd

## 수식 함수 

df = pd.DataFrame(
    [
        range(1,21,2),
        range(2,21,2),
        range(10,101,10)
    ],
    ['row1','row2','row3'],
    [f'co{i}' for i in range(1,11)]
)
df

## 용어

### 행, 열 정보

In [6]:
df.shape

(3, 10)

In [12]:
type(df.shape)

tuple

In [8]:
df.shape[0]

3

In [9]:
df.shape[1]

10

In [10]:
df.columns

Index(['co1', 'co2', 'co3', 'co4', 'co5', 'co6', 'co7', 'co8', 'co9', 'co10'], dtype='object')

In [11]:
type(df.columns)

pandas.core.indexes.base.Index

In [20]:
df.columns[0]

'co1'

### 리스트로 관리 되는 인덱스 리스트이다.

In [26]:
for co in df.columns:
    print(co)

In [22]:
df.index

Index(['row1', 'row2', 'row3'], dtype='object')

In [28]:
df.index[0]

'row1'

### vriable

In [5]:
df.dtypes ##타입은 int에용 파이썬은 64byte를 사용

co1     int64
co2     int64
co3     int64
co4     int64
co5     int64
co6     int64
co7     int64
co8     int64
co9     int64
co10    int64
dtype: object

### 행의 index 자주 보는 형태이다

In [7]:
df.info() ## 결측치

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, row1 to row3
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   co1     3 non-null      int64
 1   co2     3 non-null      int64
 2   co3     3 non-null      int64
 3   co4     3 non-null      int64
 4   co5     3 non-null      int64
 5   co6     3 non-null      int64
 6   co7     3 non-null      int64
 7   co8     3 non-null      int64
 8   co9     3 non-null      int64
 9   co10    3 non-null      int64
dtypes: int64(10)
memory usage: 372.0+ bytes

## 컬럼명 추출

In [13]:
df['co2']

row1     3
row2     4
row3    20
Name: co2, dtype: int64

### 행 타입

In [12]:
type(df['co2'])

pandas.core.series.Series

In [15]:
df['co10']

row1     19
row2     20
row3    100
Name: co10, dtype: int64

In [40]:
df['co2'], df['co10']

(row1     3
 row2     4
 row3    20
 Name: co2, dtype: int64,
 row1     19
 row2     20
 row3    100
 Name: co10, dtype: int64)

### 두가지 이상 추출법

In [39]:
df[['co2', 'co10', 'co5']]

      co2  co10  co5
row1    3    19    9
row2    4    20   10
row3   20   100   50

In [68]:
df[['co1','co2','co3']]

      co1  co2  co3
row1    1    3    5
row2    2    4    6
row3   10   20   30

## row 추출

### 슬라이싱으로 추출 해요

In [57]:
df[:'row1']

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19

In [62]:
df[:1] #정수형태에는 끝값이 제외가 됩니다. (슬라이싱 할때)

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19

### 문제 마지막 행추출

In [69]:
df[-1:]

row3    20
Name: co2, dtype: int64

## 특정 행 열

### 열 에서 행

In [74]:
df[:-1][['co4','co5']]
df[:'row2'][['co4','co5']]

      co4  co5
row1    7    9
row2    8   10

### 행에서 열

In [72]:
df[['co4','co6']][:-1]

      co4  co6
row1    7   11
row2    8   12

### 많이 사용하는 식

- 열 추출 
    - 하나의 열 : 데이터 프레임[열이름]
    - 여러개 열 : 데이터 프레임[[열이름1, 열이름2]]
    
- 행 추출
    - 하나의 행     : 데이터 프레임[행이름1    : 행이름1] 슬라이싱
    - 연속된 여러행 : 데이터 프레임[행이름시작 : 행이름끝]
      
    - 하나의 행     : 데이터 프레임[0          :        1] 슬라이싱
    - 연속된 여러행 : 데이터 프레임[index(처음부터) : index(끝값)]