In [37]:
import pandas as pd

## 데이터프레임 생성

## 수식 함수 

df = pd.DataFrame(
    [
        range(1,21,2),
        range(2,21,2),
        range(10,101,10)
    ],
    
    columns=[f'co{i}' for i in range(1,11)]
)
df

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0    1    3    5    7    9   11   13   15   17    19
1    2    4    6    8   10   12   14   16   18    20
2   10   20   30   40   50   60   70   80   90   100

## 행추출

In [38]:
df.loc[0],df.iloc[0]

(co1      1
 co2      3
 co3      5
 co4      7
 co5      9
 co6     11
 co7     13
 co8     15
 co9     17
 co10    19
 Name: 0, dtype: int64,
 co1      1
 co2      3
 co3      5
 co4      7
 co5      9
 co6     11
 co7     13
 co8     15
 co9     17
 co10    19
 Name: 0, dtype: int64)

In [39]:
df.loc[2],df.iloc[-1],df.iloc[2]

(co1      10
 co2      20
 co3      30
 co4      40
 co5      50
 co6      60
 co7      70
 co8      80
 co9      90
 co10    100
 Name: 2, dtype: int64,
 co1      10
 co2      20
 co3      30
 co4      40
 co5      50
 co6      60
 co7      70
 co8      80
 co9      90
 co10    100
 Name: 2, dtype: int64,
 co1      10
 co2      20
 co3      30
 co4      40
 co5      50
 co6      60
 co7      70
 co8      80
 co9      90
 co10    100
 Name: 2, dtype: int64)

### 연속적

In [40]:
df.iloc[:-1,:],df.loc[:1,:],df[:2]

(   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
 0    1    3    5    7    9   11   13   15   17    19
 1    2    4    6    8   10   12   14   16   18    20,
    co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
 0    1    3    5    7    9   11   13   15   17    19
 1    2    4    6    8   10   12   14   16   18    20,
    co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
 0    1    3    5    7    9   11   13   15   17    19
 1    2    4    6    8   10   12   14   16   18    20)

### 데이타프레임으로 보기
- series를 DF로 보아용
- **serise가 DF보다 데이터 처리 속도가 빠르다. 데이터 크기가 작아서 그래용

In [41]:
df[['co2']],df.loc[:,['co2']],df.iloc[:,[1]]

(   co2
 0    3
 1    4
 2   20,
    co2
 0    3
 1    4
 2   20,
    co2
 0    3
 1    4
 2   20)

## 기준값 넣기

### 행

### 상위

In [44]:
df.head(2)

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0    1    3    5    7    9   11   13   15   17    19
1    2    4    6    8   10   12   14   16   18    20

### 하위

In [45]:
df.tail(1)

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
2   10   20   30   40   50   60   70   80   90   100