In [2]:
!start .

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 파일 읽어 오기

In [97]:
data = pd.read_csv('주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20220131.csv', encoding='cp949')
apt_price = pd.DataFrame(data)
apt_price[:2]

  지역명           규모구분      연도     월 분양가격(제곱미터)
0  서울           모든면적  2015.0  10.0       5841
1  서울  전용면적 60제곱미터이하  2015.0  10.0       5652

# 정보 확인

In [98]:
apt_price.describe()

                연도            월
count  6460.000000  6460.000000
mean   2018.407895     6.605263
std       1.843892     3.536101
min    2015.000000     1.000000
25%    2017.000000     3.750000
50%    2018.000000     7.000000
75%    2020.000000    10.000000
max    2022.000000    12.000000

In [99]:
apt_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7140 entries, 0 to 7139
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역명         6460 non-null   object
 1   규모구분        6460 non-null   object
 2   연도          6460 non-null   float64
 3   월           6460 non-null   float64
 4   분양가격(제곱미터)  5976 non-null   object
dtypes: float64(2), object(3)
memory usage: 279.0+ KB

# 모든 값이 결측치 확인 및 제거

In [100]:
apt_price.isnull().sum()

지역명            680
규모구분           680
연도             680
월              680
분양가격(제곱미터)    1164
dtype: int64

## 모든 결측치 확인

In [101]:
apt_price.isnull().value_counts()[1:3].sum()

1164

In [102]:
apt_price[apt_price['분양가격(제곱미터)'].isnull()]

      지역명                     규모구분      연도    월 분양가격(제곱미터)
368    광주  전용면적 85제곱미터초과 102제곱미터이하  2016.0  2.0        NaN
369    광주           전용면적 102제곱미터초과  2016.0  2.0        NaN
374    대전           전용면적 102제곱미터초과  2016.0  2.0        NaN
388    강원  전용면적 85제곱미터초과 102제곱미터이하  2016.0  2.0        NaN
421    제주            전용면적 60제곱미터이하  2016.0  2.0        NaN
...   ...                      ...     ...  ...        ...
7135  NaN                      NaN     NaN  NaN        NaN
7136  NaN                      NaN     NaN  NaN        NaN
7137  NaN                      NaN     NaN  NaN        NaN
7138  NaN                      NaN     NaN  NaN        NaN
7139  NaN                      NaN     NaN  NaN        NaN

[1164 rows x 5 columns]

# 전처리 작업

## 컬럼명 변경
    - 분양 가격(제곱미터) =>분양가격
    - 규모구분 -> 전용 면적

In [104]:
apt_price.rename(columns={'분양가격(제곱미터)': '분양가격','규모구분':'전용면적'}, 
                 inplace=True)

In [107]:
apt_price.columns

Index(['지역명', '전용면적', '연도', '월', '분양가격'], dtype='object')

## 결측치 처리

In [95]:
apt_price.dropna(axis=0,how='all',inplace=True)

In [53]:
apt_price.rename({'분양가격(제곱미터)'}) = '분양가격'

SyntaxError: cannot assign to function call (874744640.py, line 1)

In [49]:
apt_price['분양가격'].isnull().value_counts()[1]

484

# 모든 값이 결측치인 제거

In [45]:
apt_price.dropna(axis=0,how='all',inplace=True)