In [1]:
import requests
import json
import pandas as pd

In [2]:
headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}
url = "https://finance.naver.com/world/worldDayListJson.naver?symbol=NAS@IXIC&fdtc=0&page=1"
httpResponse = requests.get(url, headers=headers)
httpResponse.status_code

200

In [3]:
httpResponse.text
#응답이 되지 않은 상태에용 requests는 200이 되어도 error 가 되지 않아용

'[{"symb":"NAS@IXIC","xymd":"20230525","open":12706.44,"high":12736.92,"low":12604.89,"clos":12698.09,"diff":213.93,"rate":1.71,"gvol":474915932},{"symb":"NAS@IXIC","xymd":"20230524","open":12481.9,"high":12529.63,"low":12415.85,"clos":12484.16,"diff":-76.09,"rate":-0.61,"gvol":421369526},{"symb":"NAS@IXIC","xymd":"20230523","open":12652.88,"high":12709.74,"low":12554.43,"clos":12560.25,"diff":-160.53,"rate":-1.26,"gvol":443685435},{"symb":"NAS@IXIC","xymd":"20230522","open":12664.44,"high":12756.23,"low":12655.26,"clos":12720.78,"diff":62.88,"rate":0.5,"gvol":434318056},{"symb":"NAS@IXIC","xymd":"20230519","open":12709.46,"high":12731.73,"low":12624.06,"clos":12657.9,"diff":-30.94,"rate":-0.24,"gvol":400729176},{"symb":"NAS@IXIC","xymd":"20230518","open":12513.87,"high":12698.5,"low":12512.27,"clos":12688.84,"diff":188.27,"rate":1.51,"gvol":461050192},{"symb":"NAS@IXIC","xymd":"20230517","open":12388.58,"high":12514.07,"low":12335.02,"clos":12500.57,"diff":157.52,"rate":1.28,"gvol":457940166},{"symb":"NAS@IXIC","xymd":"20230516","open":12327.05,"high":12403.81,"low":12324.52,"clos":12343.05,"diff":-22.16,"rate":-0.18,"gvol":415698858},{"symb":"NAS@IXIC","xymd":"20230515","open":12301.17,"high":12376.4,"low":12263.35,"clos":12365.21,"diff":80.47,"rate":0.66,"gvol":406293217},{"symb":"NAS@IXIC","xymd":"20230512","open":12350.52,"high":12364.65,"low":12209.58,"clos":12284.74,"diff":-43.77,"rate":-0.36,"gvol":424583738}]'

In [4]:
# 3.1 json - > str loads는 str , contents는 아니다
json.loads(httpResponse.text)

[{'symb': 'NAS@IXIC',
  'xymd': '20230525',
  'open': 12706.44,
  'high': 12736.92,
  'low': 12604.89,
  'clos': 12698.09,
  'diff': 213.93,
  'rate': 1.71,
  'gvol': 474915932},
 {'symb': 'NAS@IXIC',
  'xymd': '20230524',
  'open': 12481.9,
  'high': 12529.63,
  'low': 12415.85,
  'clos': 12484.16,
  'diff': -76.09,
  'rate': -0.61,
  'gvol': 421369526},
 {'symb': 'NAS@IXIC',
  'xymd': '20230523',
  'open': 12652.88,
  'high': 12709.74,
  'low': 12554.43,
  'clos': 12560.25,
  'diff': -160.53,
  'rate': -1.26,
  'gvol': 443685435},
 {'symb': 'NAS@IXIC',
  'xymd': '20230522',
  'open': 12664.44,
  'high': 12756.23,
  'low': 12655.26,
  'clos': 12720.78,
  'diff': 62.88,
  'rate': 0.5,
  'gvol': 434318056},
 {'symb': 'NAS@IXIC',
  'xymd': '20230519',
  'open': 12709.46,
  'high': 12731.73,
  'low': 12624.06,
  'clos': 12657.9,
  'diff': -30.94,
  'rate': -0.24,
  'gvol': 400729176},
 {'symb': 'NAS@IXIC',
  'xymd': '20230518',
  'open': 12513.87,
  'high': 12698.5,
  'low': 12512.27,
  'clos': 12688.84,
  'diff': 188.27,
  'rate': 1.51,
  'gvol': 461050192},
 {'symb': 'NAS@IXIC',
  'xymd': '20230517',
  'open': 12388.58,
  'high': 12514.07,
  'low': 12335.02,
  'clos': 12500.57,
  'diff': 157.52,
  'rate': 1.28,
  'gvol': 457940166},
 {'symb': 'NAS@IXIC',
  'xymd': '20230516',
  'open': 12327.05,
  'high': 12403.81,
  'low': 12324.52,
  'clos': 12343.05,
  'diff': -22.16,
  'rate': -0.18,
  'gvol': 415698858},
 {'symb': 'NAS@IXIC',
  'xymd': '20230515',
  'open': 12301.17,
  'high': 12376.4,
  'low': 12263.35,
  'clos': 12365.21,
  'diff': 80.47,
  'rate': 0.66,
  'gvol': 406293217},
 {'symb': 'NAS@IXIC',
  'xymd': '20230512',
  'open': 12350.52,
  'high': 12364.65,
  'low': 12209.58,
  'clos': 12284.74,
  'diff': -43.77,
  'rate': -0.36,
  'gvol': 424583738}]

In [30]:
type(dict_data)

list

In [32]:
#3.2 json -> dict
dict_data_two = httpResponse.json()
type(dict_data_two)

list

In [34]:
table = pd.json_normalize(dict_data_two)
table

,symb,xymd,open,high,low,clos,diff,rate,gvol
0,NAS@IXIC,20230426,11913.23,11967.99,11833.07,11854.35,55.19,0.47,541188237
1,NAS@IXIC,20230425,11968.81,11990.46,11798.77,11799.16,-238.04,-1.98,500793836
2,NAS@IXIC,20230424,12053.47,12103.58,11960.31,12037.20,-35.26,-0.29,496062344
3,NAS@IXIC,20230421,12046.03,12097.15,11986.82,12072.46,12.90,0.11,489284300
4,NAS@IXIC,20230420,12039.08,12155.96,12011.95,12059.56,-97.67,-0.80,462760322
5,NAS@IXIC,20230419,12063.68,12191.10,12060.17,12157.23,3.82,0.03,505169071
6,NAS@IXIC,20230418,12234.56,12245.43,12110.23,12153.41,-4.31,-0.04,493617967
7,NAS@IXIC,20230417,12108.23,12159.02,12064.10,12157.72,34.25,0.28,485927270
8,NAS@IXIC,20230414,12117.91,12205.72,12026.55,12123.47,-42.80,-0.35,467526838
9,NAS@IXIC,20230413,11997.42,12178.80,11995.94,12166.27,236.93,1.99,493255164