# 추천 방식
- bestseller 가장 인기 있는 제품 상품을 추천
- 사용자 개인 정보가 없을 떄 사용
- 사용자 집단별 추천

In [1]:
import pandas as pd
import numpy as np

In [2]:
#평점
ratings = pd.read_csv('ratings.csv')
ratings[:3]

   user_id  movie_id  rating  timestamp
0        1        55       5  875072688
1        1       203       4  878542231
2        1       183       5  875072262

In [3]:
#컬럼 삭제 : timestamp
ratings.drop('timestamp',axis=1,inplace=True)
ratings[:3]

   user_id  movie_id  rating
0        1        55       5
1        1       203       4
2        1       183       5

In [4]:
#사용자
users = pd.read_csv('users.csv')
users[:3]

   user_id  age gender         job zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067

In [5]:
#영화 정보
movies = pd.read_csv('movies.csv')
movies[:3]

,movie_id,title,release date,imdb url,action,adventure,animation,children,comedy,crime,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
#컬럼 정리 : movie_id, title만 사용
movies=movies[['movie_id','title']]
movies[:3]

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)

# 데이터 셋 분리
- Train data
    - 모델을 학습하기 위한 데이터 셋
    - 학습은 최적의 파라미터를 찾는 것
    - 학습을 위한 데이터 
- Test data
    - 모델의 '최종 성능'을 평가하기 위한 데이터 셋
    - 모델 학습에 관여하지 않음
- Train data로 학습하고, Test data로 최종 성능 평가.

In [7]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hi-sinchon\anaconda3\envs\ex\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hi-sinchon\anaconda3\envs\ex\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hi-sinchon\anaconda3\envs\ex\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hi-sinchon\anaconda3\envs\ex\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hi-sinchon\anaconda3\envs\ex\lib\site-packages (from scikit-learn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
'''
주어진 코드는 scikit-learn 라이브러리의 train_test_split() 함수를 사용하여 데이터셋을 학습용과 테스트용으로 분할하는 방법을 보여줍니다.

아래는 코드의 설명입니다:

x = ratings.copy(): 이 코드는 ratings 데이터셋의 복사본을 생성하고 변수 x에 할당합니다. 이 단계는 원본 데이터셋이 변경되지 않도록 보장하기 위해 수행됩니다.

y = ratings.user_id: 이 코드는 ratings 데이터셋의 "user_id" 열의 값을 변수 y에 할당합니다. 이 열은 우리가 예측하고자 하는 대상 변수 또는 레이블을 나타냅니다.

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y): 이 코드는 데이터셋을 학습용과 테스트용으로 분할합니다. train_test_split() 함수는 몇 가지 인수를 사용합니다:

x와 y: 각각 데이터셋과 대상 변수입니다.
test_size=0.25: 이는 데이터의 25%를 테스트용으로 할당하고, 나머지 75%를 학습용으로 사용하도록 지정합니다.
stratify=y: 이 인자는 학습용과 테스트용 데이터셋에서 대상 변수의 분포를 원본 데이터셋과 유사하게 유지하도록 합니다. 이는 데이터셋이 불균형하거나 대상 변수가 여러 클래스를 가지는 경우에 유용합니다.
이 함수는 네 개의 데이터셋을 반환합니다:

x_train: 원본 데이터의 75%인 학습용 데이터셋입니다.
x_test: 원본 데이터의 나머지 25%인 테스트용 데이터셋입니다.
y_train: 학습용 데이터셋에 해당하는 대상 변수 (사용자 ID)입니다.
y_test: 테스트용 데이터셋에 해당하는 대상 변수 (사용자 ID)입니다.
데이터셋을 학습용과 테스트용으로 분할함으로써, 학습 데이터로 머신러닝 모델을 훈련하고 테스트 데이터로 모델의 성능을 평가하여 새로운 데이터에 대한 일반화 능력을 평가할 수 있습니다.
'''

'\n주어진 코드는 scikit-learn 라이브러리의 train_test_split() 함수를 사용하여 데이터셋을 학습용과 테스트용으로 분할하는 방법을 보여줍니다.\n\n아래는 코드의 설명입니다:\n\nx = ratings.copy(): 이 코드는 ratings 데이터셋의 복사본을 생성하고 변수 x에 할당합니다. 이 단계는 원본 데이터셋이 변경되지 않도록 보장하기 위해 수행됩니다.\n\ny = ratings.user_id: 이 코드는 ratings 데이터셋의 "user_id" 열의 값을 변수 y에 할당합니다. 이 열은 우리가 예측하고자 하는 대상 변수 또는 레이블을 나타냅니다.\n\nx_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y): 이 코드는 데이터셋을 학습용과 테스트용으로 분할합니다. train_test_split() 함수는 몇 가지 인수를 사용합니다:\n\nx와 y: 각각 데이터셋과 대상 변수입니다.\ntest_size=0.25: 이는 데이터의 25%를 테스트용으로 할당하고, 나머지 75%를 학습용으로 사용하도록 지정합니다.\nstratify=y: 이 인자는 학습용과 테스트용 데이터셋에서 대상 변수의 분포를 원본 데이터셋과 유사하게 유지하도록 합니다. 이는 데이터셋이 불균형하거나 대상 변수가 여러 클래스를 가지는 경우에 유용합니다.\n이 함수는 네 개의 데이터셋을 반환합니다:\n\nx_train: 원본 데이터의 75%인 학습용 데이터셋입니다.\nx_test: 원본 데이터의 나머지 25%인 테스트용 데이터셋입니다.\ny_train: 학습용 데이터셋에 해당하는 대상 변수 (사용자 ID)입니다.\ny_test: 테스트용 데이터셋에 해당하는 대상 변수 (사용자 ID)입니다.\n데이터셋을 학습용과 테스트용으로 분할함으로써, 학습 데이터로 머신러닝 모델을 훈련하고 테스트 데이터로 모델의 성능을 평가하여 새로운 데이터에 대한 일반화 능력을 평가할 수 있습니다.\n'

In [10]:
from sklearn.model_selection import train_test_split

x = ratings.copy()
y= ratings.user_id

In [11]:


x = ratings.copy()
y = ratings.user_id
# x_train : 학습용 데이터
# x_test : 정확도 검증용
# y_train, y_test: 사용자 ID
x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.25, random_state=1, stratify=y)

In [12]:
x.shape

(100000, 3)

In [13]:
# 전체 data(row) :  75%
x_train.shape

(75000, 3)

In [14]:
## 전체 data(row) : 25%
x_test.shape

(25000, 3)

In [15]:
y_train.shape

(75000,)

In [16]:
y_test.shape

(25000,)

In [17]:
x_train

       user_id  movie_id  rating
67396      616       678       2
94307      889       232       3
60667      537       301       2
11526      106       660       4
86138      805      1101       5
...        ...       ...     ...
86203      805       422       4
31992      303      1037       3
85923      804       282       4
22595      232       630       3
30743      296       191       5

[75000 rows x 3 columns]

In [18]:
x_train

       user_id  movie_id  rating
67396      616       678       2
94307      889       232       3
60667      537       301       2
11526      106       660       4
86138      805      1101       5
...        ...       ...     ...
86203      805       422       4
31992      303      1037       3
85923      804       282       4
22595      232       630       3
30743      296       191       5

[75000 rows x 3 columns]

In [19]:
# random_state 설정하지 않음

In [20]:
ratings.groupby('user_id').size()

user_id
1      272
2       62
3       54
4       24
5      175
      ...
939     49
940    107
941     22
942     79
943    168
Length: 943, dtype: int64

In [21]:
x_train.groupby('user_id')

## 정확도 (accuracy)
- 10분동안 줄넘기 횟수

홍길동 박보검 이미자
    50    35    40
    60    20    45
- 오차(전차) : 실제값- 예측값(y-y^)
    - 오차 :10,-15, 5 =0
- 오차(잔차) 합 : 0이 되거나 -가 될 수 있음 - > 그래서 제곱의 합
- 평균 제곱 오차
- 평균 제곱근 오차

In [22]:
mse =((10)**2 + (-15)**2 + 5**2) /3

In [23]:
import math
math.sqrt(mse)

10.801234497346433

In [24]:
#정확도 계산 함수
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true)- np.array(y_true))**2))

In [25]:
# 모델별 RMSE를 계산하는 함수 정의
# 모델별 예측치의 정확도 계산

In [26]:
def score(model):
    id_pairs = zip(x_test['user_id'],x_test['movie_id'])
    y_pred = np.array([model(user,movie) for (user,movie)in id_pairs])
    print('??',y_pred.shape)
    
    y_true = np.array(x_test['rating'])
    
    return RMSE(y_true,y_pred)

In [27]:
for z in zip([1,3,5],['a','b','c']):
    print(z)

(1, 'a')
(3, 'b')
(5, 'c')

## best - seller 모델 예측

In [28]:
def best_seller(user_id, movie_id):
    try:
        rating = train_mean[movie_id]
    except:
        print(movie_id)
        rating= 3.0
    return rating

In [29]:
train_mean[31]

NameError: name 'train_mean' is not defined

In [ ]:
score(best_seller)

In [ ]:
# gender 기준 추천 모델

In [ ]:
#영화별 성별별 평점 평균 계산

In [30]:
users[:2]

   user_id  age gender         job zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043

In [31]:
ratings[:3]

   user_id  movie_id  rating
0        1        55       5
1        1       203       4
2        1       183       5

In [32]:
%who

RMSE	 best_seller	 math	 movies	 mse	 np	 pd	 ratings	 score
train_test_split	 users	 x	 x_test	 x_train	 y	 y_test	 y_train	 z

In [34]:
one = pd.DataFrame({
    'id':[1,2,3],
    'name':['홍씨','이씨','박씨']
    
})
two = pd.DataFrame({
    'id':[1,2,3],
    'hire_date':[2020,2010,2002]
})
one
two

   id  hire_date
0   1       2020
1   2       2010
2   3       2002

In [35]:
g_mean = merged_ratings[['movie_id','gender','rating']].groupby(['movie_id','gender']).rating.mean()

NameError: name 'merged_ratings' is not defined

In [36]:
x_train.shape

(75000, 3)

In [40]:
users.set_index('user_id',inplace=True)
users

KeyError: "None of ['user_id'] are in the columns"

In [ ]:
rating_matrix=x_train.pivot(index='user_id',columns='movie_id',values='rating')

In [ ]:
# 정확도 계산

In [41]:
## 모델별 RMSE를 계산하는 함수 정의
## 모델별 예측치의 정확도 계산
def score(model):
    id_pairs = zip(x_test['user_id'],x_test['movie_id'])
    y_pred = np.array([model(user,movie) for (user, movie) in id_pairs])
    print(y_pred)
    
    y_true = np.array(x_test['rating'])
    
    return RMSE(y_true,y_pred)

In [44]:
# gender 기준 추천 모델
# gender 별 평균을 예측치로 돌려주는 함수
def cf_gender(user_id,movie_id):
    if movie_id in rating_matrix:
        gender = user.loc[user_id]['gender']
        
        if gender in g_mean[movie_id]:
            gender_rating = g_mean[movie_id][gender]
        else:
            gender_rating = 3.0
    else:
        gender_rating =3.0
    return gender_rating