# 추천 방식
- bestseller 가장 인기 있는 제품 상품을 추천
- 사용자 개인 정보가 없을 떄 사용
- 사용자 집단별 추천

In [1]:
import pandas as pd

In [2]:
#평점
ratings = pd.read_csv('ratings.csv')
ratings[:3]

   user_id  movie_id  rating  timestamp
0        1        55       5  875072688
1        1       203       4  878542231
2        1       183       5  875072262

In [3]:
#컬럼 삭제 : timestamp
ratings.drop('timestamp',axis=1,inplace=True)
ratings[:3]

   user_id  movie_id  rating
0        1        55       5
1        1       203       4
2        1       183       5

In [4]:
#사용자
users = pd.read_csv('users.csv')
users[:3]

   user_id  age gender         job zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067

In [5]:
#영화 정보
movies = pd.read_csv('movies.csv')
movies[:3]

,movie_id,title,release date,imdb url,action,adventure,animation,children,comedy,crime,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
#컬럼 정리 : movie_id, title만 사용
movies=movies[['movie_id','title']]
movies[:3]

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)

# 데이터 셋 분리
- Train data
    - 모델을 학습하기 위한 데이터 셋
    - 학습은 최적의 파라미터를 찾는 것
    - 학습을 위한 데이터 
- Test data
    - 모델의 '최종 성능'을 평가하기 위한 데이터 셋
    - 모델 학습에 관여하지 않음
- Train data로 학습하고, Test data로 최종 성능 평가.

In [8]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp38-cp38-win_amd64.whl (8.3 MB)
     ---------------------------------------- 0.0/8.3 MB ? eta -:--:--
     -- ------------------------------------- 0.6/8.3 MB 12.0 MB/s eta 0:00:01
     ----- ---------------------------------- 1.1/8.3 MB 12.0 MB/s eta 0:00:01
     -------- ------------------------------- 1.7/8.3 MB 11.8 MB/s eta 0:00:01
     ---------- ----------------------------- 2.2/8.3 MB 12.6 MB/s eta 0:00:01
     -------------- ------------------------- 2.9/8.3 MB 12.4 MB/s eta 0:00:01
     ----------------- ---------------------- 3.7/8.3 MB 12.3 MB/s eta 0:00:01
     --------------------- ------------------ 4.4/8.3 MB 12.2 MB/s eta 0:00:01
     ----------------------- ---------------- 4.9/8.3 MB 12.1 MB/s eta 0:00:01
     -------------------------- ------------- 5.5/8.3 MB 12.0 MB/s eta 0:00:01
     ---------------------------- ----------- 6.0/8.3 MB 12.0 MB/s eta 0:00:01
     ------------------------------- -------- 6.6/8.3 MB 12.0 MB/s eta 0:00:01
     ---------------------------------- ----- 7.1/8.3 MB 12.0 MB/s eta 0:00:01
     ------------------------------------- -- 7.7/8.3 MB 12.0 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.3 MB 12.0 MB/s eta 0:00:01
     ---------------------------------------- 8.3/8.3 MB 11.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\hi-sinchon\anaconda3\envs\ex\lib\site-packages (from scikit-learn) (1.24.3)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ---------------------------------------- 0.0/298.0 kB ? eta -:--:--
     ------------------------------------- 298.0/298.0 kB 19.2 MB/s eta 0:00:00
Collecting scipy>=1.3.2
  Downloading scipy-1.10.1-cp38-cp38-win_amd64.whl (42.2 MB)
     ---------------------------------------- 0.0/42.2 MB ? eta -:--:--
      --------------------------------------- 0.7/42.2 MB 14.2 MB/s eta 0:00:03
     - -------------------------------------- 1.1/42.2 MB 11.7 MB/s eta 0:00:04
     - -------------------------------------- 1.6/42.2 MB 11.6 MB/s eta 0:00:04
     -- ------------------------------------- 2.2/42.2 MB 11.6 MB/s eta 0:00:04
     -- ------------------------------------- 2.7/42.2 MB 11.6 MB/s eta 0:00:04
     --- ------------------------------------ 3.3/42.2 MB 11.6 MB/s eta 0:00:04
     --- ------------------------------------ 3.8/42.2 MB 11.6 MB/s eta 0:00:04
     ---- ----------------------------------- 4.4/42.2 MB 11.6 MB/s eta 0:00:04
     ---- ----------------------------------- 4.9/42.2 MB 11.6 MB/s eta 0:00:04
     ---- ----------------------------------- 5.2/42.2 MB 11.6 MB/s eta 0:00:04
     ---- ----------------------------------- 5.2/42.2 MB 11.6 MB/s eta 0:00:04
     ---- ----------------------------------- 5.2/42.2 MB 11.6 MB/s eta 0:00:04
     ----- ---------------------------------- 5.4/42.2 MB 8.9 MB/s eta 0:00:05
     ----- ---------------------------------- 6.0/42.2 MB 9.1 MB/s eta 0:00:04
     ------ --------------------------------- 6.6/42.2 MB 9.3 MB/s eta 0:00:04
     ------ --------------------------------- 7.1/42.2 MB 9.5 MB/s eta 0:00:04
     ------- -------------------------------- 7.6/42.2 MB 9.6 MB/s eta 0:00:04
     ------- -------------------------------- 8.2/42.2 MB 9.7 MB/s eta 0:00:04
     -------- ------------------------------- 8.7/42.2 MB 9.8 MB/s eta 0:00:04
     -------- ------------------------------- 9.3/42.2 MB 10.1 MB/s eta 0:00:04
     --------- ----------------------------- 10.0/42.2 MB 10.1 MB/s eta 0:00:04
     --------- ----------------------------- 10.7/42.2 MB 10.1 MB/s eta 0:00:04
     ---------- ---------------------------- 11.2/42.2 MB 10.1 MB/s eta 0:00:04
     ---------- ---------------------------- 11.8/42.2 MB 10.2 MB/s eta 0:00:03
     ----------- --------------------------- 12.3/42.2 MB 10.2 MB/s eta 0:00:03
     ----------- --------------------------- 12.8/42.2 MB 10.2 MB/s eta 0:00:03
     ------------ -------------------------- 13.4/42.2 MB 10.2 MB/s eta 0:00:03
     ------------ -------------------------- 13.9/42.2 MB 10.2 MB/s eta 0:00:03
     ------------- ------------------------- 14.5/42.2 MB 10.2 MB/s eta 0:00:03
     ------------- ------------------------- 15.0/42.2 MB 10.1 MB/s eta 0:00:03
     -------------- ------------------------ 15.6/42.2 MB 11.7 MB/s eta 0:00:03
     -------------- ------------------------ 16.1/42.2 MB 11.7 MB/s eta 0:00:03
     --------------- ----------------------- 16.7/42.2 MB 11.7 MB/s eta 0:00:03
     --------------- ----------------------- 17.2/42.2 MB 11.7 MB/s eta 0:00:03
     ---------------- ---------------------- 17.8/42.2 MB 11.7 MB/s eta 0:00:03
     ---------------- ---------------------- 18.3/42.2 MB 11.7 MB/s eta 0:00:03
     ----------------- --------------------- 18.9/42.2 MB 11.7 MB/s eta 0:00:02
     ----------------- --------------------- 18.9/42.2 MB 11.7 MB/s eta 0:00:02
     ----------------- --------------------- 18.9/42.2 MB 11.7 MB/s eta 0:00:02
     ----------------- --------------------- 19.3/42.2 MB 10.4 MB/s eta 0:00:03
     ------------------ -------------------- 19.8/42.2 MB 10.4 MB/s eta 0:00:03
     ------------------ -------------------- 20.4/42.2 MB 10.4 MB/s eta 0:00:03
     ------------------- ------------------- 20.9/42.2 MB 10.4 MB/s eta 0:00:03
     ------------------- ------------------- 21.4/42.2 MB 10.4 MB/s eta 0:00:03
     -------------------- ------------------ 22.1/42.2 MB 10.6 MB/s eta 0:00:02
     --------------------- ----------------- 22.9/42.2 MB 10.6 MB/s eta 0:00:02
     --------------------- ----------------- 23.4/42.2 MB 10.6 MB/s eta 0:00:02
     ---------------------- ---------------- 24.0/42.2 MB 10.6 MB/s eta 0:00:02
     ---------------------- ---------------- 24.5/42.2 MB 10.6 MB/s eta 0:00:02
     ----------------------- --------------- 25.0/42.2 MB 10.6 MB/s eta 0:00:02
     ----------------------- --------------- 25.6/42.2 MB 10.6 MB/s eta 0:00:02
     ------------------------ -------------- 26.1/42.2 MB 10.6 MB/s eta 0:00:02
     ------------------------ -------------- 26.6/42.2 MB 10.4 MB/s eta 0:00:02
     ------------------------- ------------- 27.2/42.2 MB 10.4 MB/s eta 0:00:02
     ------------------------- ------------- 27.7/42.2 MB 10.4 MB/s eta 0:00:02
     -------------------------- ------------ 28.3/42.2 MB 10.4 MB/s eta 0:00:02
     -------------------------- ------------ 28.8/42.2 MB 10.4 MB/s eta 0:00:02
     --------------------------- ----------- 29.4/42.2 MB 11.7 MB/s eta 0:00:02
     --------------------------- ----------- 29.9/42.2 MB 11.7 MB/s eta 0:00:02
     ---------------------------- ---------- 30.4/42.2 MB 11.7 MB/s eta 0:00:02
     ---------------------------- ---------- 31.0/42.2 MB 11.7 MB/s eta 0:00:01
     ----------------------------- --------- 31.5/42.2 MB 11.9 MB/s eta 0:00:01
     ----------------------------- --------- 32.2/42.2 MB 11.9 MB/s eta 0:00:01
     ------------------------------ -------- 33.0/42.2 MB 11.9 MB/s eta 0:00:01
     ------------------------------ -------- 33.5/42.2 MB 11.9 MB/s eta 0:00:01
     ------------------------------- ------- 34.0/42.2 MB 11.9 MB/s eta 0:00:01
     ------------------------------- ------- 34.6/42.2 MB 11.9 MB/s eta 0:00:01
     -------------------------------- ------ 35.2/42.2 MB 11.9 MB/s eta 0:00:01
     -------------------------------- ------ 35.6/42.2 MB 11.7 MB/s eta 0:00:01
     --------------------------------- ----- 35.9/42.2 MB 11.5 MB/s eta 0:00:01
     --------------------------------- ----- 36.4/42.2 MB 11.3 MB/s eta 0:00:01
     ---------------------------------- ---- 37.0/42.2 MB 11.3 MB/s eta 0:00:01
     ---------------------------------- ---- 37.5/42.2 MB 11.5 MB/s eta 0:00:01
     ----------------------------------- --- 38.1/42.2 MB 11.3 MB/s eta 0:00:01
     ----------------------------------- --- 38.6/42.2 MB 11.3 MB/s eta 0:00:01
     ------------------------------------ -- 39.1/42.2 MB 11.3 MB/s eta 0:00:01
     ------------------------------------ -- 39.7/42.2 MB 11.3 MB/s eta 0:00:01
     ------------------------------------- - 40.2/42.2 MB 11.3 MB/s eta 0:00:01
     ------------------------------------- - 40.7/42.2 MB 11.3 MB/s eta 0:00:01
     --------------------------------------  41.3/42.2 MB 11.3 MB/s eta 0:00:01
     --------------------------------------  41.9/42.2 MB 11.3 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 11.3 MB/s eta 0:00:01
     --------------------------------------- 42.2/42.2 MB 10.6 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 scipy-1.10.1 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sklearn.model_selection import train_test_split

In [ ]:
'''
주어진 코드는 scikit-learn 라이브러리의 train_test_split() 함수를 사용하여 데이터셋을 학습용과 테스트용으로 분할하는 방법을 보여줍니다.

아래는 코드의 설명입니다:

x = ratings.copy(): 이 코드는 ratings 데이터셋의 복사본을 생성하고 변수 x에 할당합니다. 이 단계는 원본 데이터셋이 변경되지 않도록 보장하기 위해 수행됩니다.

y = ratings.user_id: 이 코드는 ratings 데이터셋의 "user_id" 열의 값을 변수 y에 할당합니다. 이 열은 우리가 예측하고자 하는 대상 변수 또는 레이블을 나타냅니다.

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y): 이 코드는 데이터셋을 학습용과 테스트용으로 분할합니다. train_test_split() 함수는 몇 가지 인수를 사용합니다:

x와 y: 각각 데이터셋과 대상 변수입니다.
test_size=0.25: 이는 데이터의 25%를 테스트용으로 할당하고, 나머지 75%를 학습용으로 사용하도록 지정합니다.
stratify=y: 이 인자는 학습용과 테스트용 데이터셋에서 대상 변수의 분포를 원본 데이터셋과 유사하게 유지하도록 합니다. 이는 데이터셋이 불균형하거나 대상 변수가 여러 클래스를 가지는 경우에 유용합니다.
이 함수는 네 개의 데이터셋을 반환합니다:

x_train: 원본 데이터의 75%인 학습용 데이터셋입니다.
x_test: 원본 데이터의 나머지 25%인 테스트용 데이터셋입니다.
y_train: 학습용 데이터셋에 해당하는 대상 변수 (사용자 ID)입니다.
y_test: 테스트용 데이터셋에 해당하는 대상 변수 (사용자 ID)입니다.
데이터셋을 학습용과 테스트용으로 분할함으로써, 학습 데이터로 머신러닝 모델을 훈련하고 테스트 데이터로 모델의 성능을 평가하여 새로운 데이터에 대한 일반화 능력을 평가할 수 있습니다.
'''

In [15]:
x = ratings.copy()
y = ratings.user_id
# x_train : 학습용 데이터
# x_test : 정확도 검증용
# y_train, y_test: 사용자 ID
x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.25, stratify=y)

In [16]:
x.shape

(100000, 3)

In [17]:
x_train.shape

(75000, 3)

In [18]:
x_test.shape

(25000, 3)

In [20]:
y_train.shape

(75000,)

In [19]:
y_test.shape

(25000,)