# 값변경

In [2]:
import pandas as pd


df = pd.DataFrame(
    [
        range(1,21,2),
        range(2,21,2),
        range(10,101,10)
    ],
    
    columns=[f'co{i}' for i in range(1,11)]
)
df

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0    1    3    5    7    9   11   13   15   17    19
1    2    4    6    8   10   12   14   16   18    20
2   10   20   30   40   50   60   70   80   90   100

## 특정 위치 값

### 인덱스 1과 컬럼 co 위치 값을 변경 하기

In [20]:
df.iloc[1,1] = 125
df.loc[1,'co2'] = 100
df['co2'][1] = 111
df

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0    1    3    5    7    9   11   13   15   17    19
1    2  111    6    8   10   12   14   16   18    20
2   10   20   30   40   50   60   70   80   90   100

### 컬럼 co2 값을 배수

In [32]:
df.co2 * 2
df['co2'] *2

0      6
1    222
2     40
Name: co2, dtype: int64

### 행의 값을 배수로

In [39]:
df.loc[2] * 2
df.iloc[2] * 2

co1      20
co2      40
co3      60
co4      80
co5     100
co6     120
co7     140
co8     160
co9     180
co10    200
Name: 2, dtype: int64

### 영역 지정

In [44]:
df.loc[0:1,'co4':'co7'] = df.loc[0:1,'co4':'co7'] - 10
df

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0    1    3    5  -13  -11   -9   -7   15   17    19
1    2  111    6  -12  -10   -8   -6   16   18    20
2   10   20   30   40   50   60   70   80   90   100

## 조건의 맞는 값 추출

In [48]:
##컬럼 co2 111 데이터 추출
df.co2 == 111
df['co2'] == 111

SyntaxError: invalid syntax (1181981287.py, line 3)

### 마스크라고 불리운다.

In [51]:
df.loc[df.co2 == 111]

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
1    2  111    6  -12  -10   -8   -6   16   18    20

In [52]:
df.loc[df.co2 == 111, ['co2','co4','co6']]

   co2  co4  co6
1  111  -12   -8

### 문제 컬럼 co7에서 홀수인 행만 추출

In [58]:
df.co7 % 2 == 1

0     True
1    False
2    False
Name: co7, dtype: bool

In [59]:
df.loc[df.co7 % 2 == 1]

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0    1    3    5  -13  -11   -9   -7   15   17    19