# 판다스

In [5]:
import pandas as pd

## 3행의 2열 모습

In [7]:
df = pd.DataFrame({
    'a' : [2,4,6],
    'b' : (1,3,5)
})
df

   a  b
0  2  1
1  4  3
2  6  5

### 타입 확인

In [6]:
type(df)

pandas.core.frame.DataFrame

## 원하는 이름으로 부여

In [11]:
df = pd.DataFrame(
    data = {
    'a':[2,4,6],
    'b':[1,3,5]
},
    index = ['하나','둘','삼']
)
df

    a  b
하나  2  1
둘   4  3
삼   6  5

### 행이 3개

In [10]:
df = pd.DataFrame(
    [1,2,3]

)
df

   0
0  1
1  2
2  3

### 행3 열3 
- 짝궁을 맞춰서

In [15]:
df = pd.DataFrame(
    [1,2,3],
    ['a','b','c']
)
df

   0
a  1
b  2
c  3

### 행의 인덱스, 열의 인덱스 지정이 안되면 정수 형태 idx로 표시

In [14]:
df = pd.DataFrame(
    [1,2,3],
    ['a','b','c'],
    ['one']
)
df

   one
a    1
b    2
c    3

### 변수 넣어서

In [19]:
df = pd.DataFrame(
    data=[1,2,3],
    index=['a','b','c'],
    columns=['one']
)
df

   one
a    1
b    2
c    3

### 하나의 리스트에 여러 리스트 요소가 들어온다.

In [23]:
df = pd.DataFrame(
    [[1,3,5],
    [2,4,6]],
    columns=['co1','co2','co3']
)
df

   co1  co2  co3
0    1    3    5
1    2    4    6

### 컬럼을 지정할 때 변수를 넣어야 해용

In [22]:
df = pd.DataFrame(
    [[1,3,5],
    [2,4,6]],
    columns=['co1','co2','co3']
)
df

   co1  co2  co3
0    1    3    5
1    2    4    6

## 문제

In [25]:
df = pd.DataFrame(
    [[1,3,5,7,9,11,13,15,17,19],
    [2,4,6,8,10,12,14,16,18,20],
    [10,20,30,40,50,60,70,80,90,100]],
    
    ['row1','row2','row3'],
    
    ['co1','co2','co3','co4','co5','co6','co7','co8','co9','co10']

)
df

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20
row3   10   20   30   40   50   60   70   80   90   100

In [ ]:
li =[] 
df = pd.DataFrame(
    for i in range() 

)